.header {
    height: 10vh;
    width: 100vw;
    background-color: bisque;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
}